body {
    background: linear-gradient(135deg, #FDC830, #F37335);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

select {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
}

ul {
    text-align: left;
    padding-left: 0;
    list-style-type: none;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e74c3c;
}


.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
