<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to Your Dashboard</h2>
        <div id="portfolio">Loading portfolio...</div>

        <div class="button-group" style="display: flex; gap: 10px;">
            <button onclick="window.location.href='/mutual-funds'">Explore Mutual Funds</button>
            <button onclick="logout()">Logout</button>
        </div>

    </div>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>
